
:root{
    --color-white:#f3f3f3;
    --color-darkblue:#1b1b32;
    --color-darkblue-alpha:rgba(27,27,50,0.8);
    --color-green:#37af65;

}
*,*:before,*:after{
    box-sizing:border-box;
}




header{
    width:100%;
    height:70px;
    background-color:black;
}
h1{
    position: absolute;
    padding:3px;
    float:left;
    margin-top:10px;
    margin-left:2%;
    color:#39ca74;
}
span{
    color:#ffffff;
}
ul{
    width:auto;
    float:right;
    margin-top:8px;
}
li{
    display:inline-block;
    padding:15px 30px;
}

a{
    text-align:center;
    color:#ffffff;
    font-size:16px;
}
a:hover{
    color:#F0c330;
    transition: 15ms;;
}


@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
body{
    font-family: 'Allura', cursive;
    font-size:1rem;
    font-weight:400;
    line-height:1.4;
    margin:0px;

    /*     background-image:linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ) ; */

    background-image: /* linear-gradient( 115deg, #b5a778, rgb(11 11 12 / 70%) ), */ url(projectreachpic5.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
label{
    display:flex;
    font-size:1.125rem;
    margin-bottom:0.5rem;
    align-items:center;

    color: #39ca74;


}

/* #signupform{

  margin-top: 100px;
  border:1px solid black;

} */

.entireform{


    /* background-color:red; */





    width:50%;
    margin:4rem auto 4rem auto;
    background-color:var(--color-darkblue-alpha);

}
#title,#description{
    text-align:center;
}
#survey-form{

    padding:25px;
}
.form-group{
    padding:5px;
    margin:0 auto 0.75px auto;
}
.form-control{
    height:2.735rem;
    width:100%;
    border:1px solid black;
    border-radius:0.25rem;


}
#submit{
    background-color:green;
    border-radius:25px;
    cursor:pointer;
    margin:10px auto 0 auto;
}

#forgotpassword{
    background-color:green;
    border-radius:25px;
    cursor:pointer;
    margin:10px auto 0 auto;
}
/*#label{*/
/*    color:black;*/
/*}*/
h2{
    color:#39ca74;
}
.error-text{
    color:#39ca74;
}
